<h1 mat-dialog-title>Create project </h1>
<form #newProjectForm="ngForm">
    <div mat-dialog-content>

        <p>Project name:</p>
        <mat-form-field required>
            <input name="projectName" matInput [(ngModel)]="projectName" required/>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="create()" tabindex="2" [disabled]="newProjectForm.invalid">Ok</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</form>